.app {
  height: 100vh;

  display: grid;
  grid-template:
    'header header' 50px
    'left-menu emails' 1fr /
    180px 1fr;
}

.app > .header > .left-menu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: left;
}

.app > .left-menu {
  grid-area: left-menu;
  padding: 10px;
  padding-left: 0;
}